// Specific layout for the index page, for control of elements etc 

.container {
    max-width: 1200px;
    margin: $marginCenter;
    font-family: $fontStack;

    p {
        @extend %text-default;
    }
}

// Align children inside wrappe center
#imagewrapper {
    text-align: $alignCenter;
    // Make sure images cannot exceed 100% width
    figure, img {
        max-width: $fullWidth;
    }
}

// Our heading
#heading {
    background: $colorBright;
    font-size: $h1;
    padding: $padding-1;
}

// Nav will import the layout rules from horizontal flex
nav {
    background-color: $colorDark;
    @include horizontal-flex-list-center; 
    a {
        @include no-decoration;
        color: $colorWhite;

        // Using parent selector to set hover style
        &:hover {
            opacity: 0.9;
            color: $colorBright;
        }
    } 

}

section#boxes {
    display: grid;
    max-width: 100%;
    grid-gap: 2.5rem;
    grid-template: "1fr 1fr 1fr 1fr";
    justify-content: $alignCenter;
}

@media #{$breakpoint-medium} {
    section#boxes {
        grid-template: "1fr 1fr";
    }
}

@media #{$breakpoint-small} {
    section#boxes {
        grid-template: "1fr";
    }
}


// Warning boxes
#greeteroutput, .warning-box {
    @include half-box($warning: true);
}

// Default value is false
#elementoutput {@include half-box;}

// Margin-both gives top/bottom margin to elements
section, figure, .warning-box {
    @include margin-both;
}

// For later projects make footer a component instead
footer {
    background: $colorDark;
    color: $colorBright;
    text-align: $alignCenter;
    margin-top: $margin-1;

    // Hacking this to ignore text-default extension for now. Consider changes.
    p.fullWidth {
    max-width: $fullWidth !important;
    }
}